@cloudhubke:registry=https://npm.pkg.github.com
@cloudhub-js:registry=https://npm.pkg.github.com
@cloudhub-ux:registry=https://npm.pkg.github.com
@cloudhub-ux-icons:registry=https://npm.pkg.github.com

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
